name: Update GitHub Activity

on:
  workflow_dispatch:     # 在 Actions 頁面可以手動按 Run workflow

jobs:
  update-activity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update GitHub Activity
        uses: TheDanniCraft/activity-log@v1
        with:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
